sectio.nav
  h1 ZHVIP
  h3.span.loader
    span.m Z
    span.m H
    span.m V
    span.m I
    span.m P
    span.m I
    span.m T
    span.m S
    span.m &nbsp;
    span.m o
    span.m f
    span.m &nbsp;
    span.m T
    span.m E
    span.m C
    span.m H
    span.m N
    span.m O
    span.m L
    span.m O
    span.m G
    span.m I
    span.m E
    span.m S
  .nav-container
    a.nav-tab(href="#tab-svelte") ZHVIP COLLECTION
    a.nav-tab(href="#tab-esbuild") ZHVIP0
    a.nav-tab(href="#tab-next") NEXT.JS
    a.nav-tab(href="#tab-typescript") KURDSTAN
    a.nav-tab(href="#tab-vite") ISLAM
    span.nav-tab-slider
main.main
  section#tab-svelte.slider
    h1 ZHVIP
    h2 بەخێربێ بۆ دونیای تێکنۆلۆگی
  section#tab-esbuild.slider
    h1 بەریێوبەر
    h2 لەلایەن زانا وە دروستکراوە
  section#tab-next.slider
    h1 ٠٩
    h2 framework for Production
  section#tab-typescript.slider
    h1 KURDSTAN
    h2 ITS ABEGEST COUNTRY
  section#tab-vite.slider
    h1 ساتێکبۆ یسلام
    h2 https://www.tiktok.com/@timeofislam1?is_from_webapp=1&sender_device=pcتکایە سەردانی ئەم تیکتۆکە بکەن
       
canvas.background

<!-- SGVsbG8hIE15IG5hbWUgaXMgU2FyYSBNYXphbC4gV2VsY29tZSB0byBteSBDb2RlUGVuIQ== -->
